<div class="settings">
    <div class="settings__left">
        <a class="settings__back" href="/chats"></a>
    </div>
    <div class="settings__container">
        <div class="settings__avatar">
            <div class="settings__hover"><span>Поменять аватар</span></div>
        </div>
        <p class="settings__name">Иван</p>
        <div class="settings__row">
            <span class="settings__label">Почта</span>
            <input value="pochta@yandex.ru" class="settings__input" name="email"/>
        </div>
        <div class="settings__row">
            <span class="settings__label">Логин</span>
            <input value="ivanivanov" class="settings__input" name="login"/>
        </div>
        <div class="settings__row">
            <span class="settings__label">Имя</span>
            <input value="Иван" class="settings__input" name="first_name"/>
        </div>
        <div class="settings__row">
            <span class="settings__label">Фамилия</span>
            <input value="Иванов" class="settings__input" name="second_name"/>
        </div>
        <div class="settings__row">
            <span class="settings__label">Имя в чате</span>
            <input value="Иван" class="settings__input" name="display_name"/>
        </div>
        <div class="settings__row">
            <span class="settings__label">Телефон</span>
            <input value="+7 (909) 967 30 30" class="settings__input" name="phone"/>
        </div>
        <div class="settings__controlls">
            <div class="settings__line">
                <button class="settings__button">Изменить данные</button>
            </div>
            <div class="settings__line">
                <button class="settings__button">Изменить пароль</button>
            </div>
            <div class="settings__line">
                <button class="settings__button settings__button_red">Выйти</button>
            </div>
        </div>
    </div>
</div>