<div class="chats">
    <div class="chats__menu">
        <div class="chats__header">
            <a class="chats__link" href="/pages/settings/">Профиль <div class="chats__arrow"></div></a>
            <input class="chats__search" placeholder=' Поиск' />
        </div>
        <ul class="chats__list">
            <li class="chats__member">
                <div class="chats__info">
                    <div class="chats__avatar"></div>
                    <div class="chats__short">
                        <p class="chats__name">Андрей</p>
                        <p class="chats__last">Изображение</p>
                    </div>
                </div>
                <div class="chats__date">
                    <p class="chats__day">10:49</p>
                    <div class="chats__badge">3</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="chats__empty">Выберите чат чтобы отправить сообщение</div>
</div>