<ul>
    <li><a href="/pages/login/" />Авторизация</li>
    <li><a href="/pages/signin/" />Регистрация</li>
    <li><a href="/pages/chats/" />Список чатов</li>
    <li><a href="/pages/settings/" />Настройки пользователя</li>
    <li><a href="/pages/404/" />Страница 404</li>
    <li><a href="/pages/server-error/" />Страница 5**</li>
</ul>