<ul>
    <li><a href="/login" />Авторизация</li>
    <li><a href="/signin" />Регистрация</li>
    <li><a href="/chats" />Список чатов</li>
    <li><a href="/settings" />Настройки пользователя</li>
    <li><a href="/404" />Страница 404</li>
    <li><a href="/error" />Страница 5**</li>
</ul>